<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jia.pmsmall.mapper.PmsBrandMapper">

    <resultMap type="com.jia.pmsmall.model.PmsBrand" id="PmsBrandMap">
        <result property="brandId" column="brand_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="logo" column="logo" jdbcType="VARCHAR"/>
        <result property="descript" column="descript" jdbcType="OTHER"/>
        <result property="showStatus" column="show_status" jdbcType="BYTE"/>
        <result property="firstLetter" column="first_letter" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
           brand_id,
           name,
           logo,
           descript,
           show_status,
           first_letter,
           sort,
        </sql>

</mapper>