<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jia.pmsmall.mapper.PmsSpuInfoDescMapper">

    <resultMap type="com.jia.pmsmall.model.PmsSpuInfoDesc" id="PmsSpuInfoDescMap">
        <result property="spuId" column="spu_id" jdbcType="INTEGER"/>
        <result property="decript" column="decript" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
           spu_id,
           decript,
        </sql>

</mapper>