<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jia.smsmall.mapper.SmsCouponSpuCategoryRelationMapper">

    <resultMap type="com.jia.smsmall.model.SmsCouponSpuCategoryRelation" id="SmsCouponSpuCategoryRelationMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="couponId" column="coupon_id" jdbcType="INTEGER"/>
        <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
        <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
           id,
           coupon_id,
           category_id,
           category_name,
        </sql>

</mapper>